canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* <https://caniuse.com/#feat=object-fit> */
}

.pointerOn{
    pointer-events: auto;
}

.pointerOff{
    pointer-events: none;
}

#game{
    min-width:100%;
    min-height: 100%;
    /*width: stretch;
    height: stretch;*/
}